body {
  padding: 0%;
  margin: 0%;
}

main {
  display: grid;
  grid-template-areas:
    "grid__index2 grid__index3 grid__index3 grid__index3"
    "grid__index2 grid__index3 grid__index3 grid__index3";
  justify-content: center;
  position: relative;
  background-color: #dd9335;
  width: 100%;
  height: 100%;
}

/* grids for index.html */

.grid__index1 {
  grid-area: grid__index1;
  background-color: white;
  width: 100%;
  height: 125px;
  /* border: black solid 2px; */
  margin: 0px;
  padding: 0px;
}

.grid__index2 {
  grid-area: grid__index2;
  background-color: #dd9335;
  width: 100%;
  height: 750px;
  /* border: black solid 2px; */
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: #dd9335;
}

.grid__index3 {
  grid-area: grid__index3;
  background-color: #dd9335;
  width: 100%;
  height: 750px;
  /* border: black solid 2px; */
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: #dd9335;
}

.grid__index4 {
  grid-area: grid__index4;
  background-color: white;
  width: 100%;
  height: 150px;
  /* border: black solid 2px; */
  margin: 0px;
  padding: 0px;
}

/* left side images for index.html  */

.img__flexbox {
  display: flex;
  margin-left: 90px;
  margin-top: 25px;
  width: 628px;
  height: 650px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.new--creators__img {
  background-image: url(../../img/filming_bw.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  border-radius: 42px;
  display: inline-block;
}

.new--creators__img:hover {
  background-image: url("../../img/filming_color.png");
  transition: 0.3s;
}

.popular--films__img {
  background-image: url("../../img/popcorn_bw.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  border-radius: 42px;
  display: inline-block;
}

.popular--films__img:hover {
  background-image: url("../../img/popcorn_color.png");
  transition: 0.5s;
}

.coming--soon__img {
  background-image: url("../../img/cut_bw.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  border-radius: 42px;
  display: inline-block;
}

.coming--soon__img:hover {
  background-image: url("../../img/cut_color.png");
  transition: 0.5s;
}

/* Font and image-text left side */

@font-face {
  font-family: "neuronAngeledXB";
  src: url(../../fonts/NeuronAngledSC-Xb.woff);
}

@font-face {
  font-family: "neuronAngeledXL";
  src: url(../../fonts/NeuronAngledSC-Xl.woff);
}

.new--creators__text__flexbox {
  display: flex;
  position: absolute;
  top: -10px;
  right: 160px;
  width: 190px;
  height: 50px;
}

.text__new {
  font-family: "neuronAngeledXB";
  font-size: 35px;
}

.text__creators {
  font-family: "neuronAngeledXL";
  font-size: 35px;
}

.popular--films__text__flexbox {
  display: flex;
  position: absolute;
  top: 225px;
  right: 160px;
  width: 190px;
  height: 50px;
}

.text__popular {
  font-family: "neuronAngeledXB";
  font-size: 35px;
}

.text__films {
  font-family: "neuronAngeledXL";
  font-size: 35px;
}

.coming--soon__text__flexbox {
  display: flex;
  position: absolute;
  top: 450px;
  right: 160px;
  width: 190px;
  height: 50px;
}

.text__coming {
  font-family: "neuronAngeledXB";
  font-size: 35px;
}

.text__soon {
  font-family: "neuronAngeledXL";
  font-size: 35px;
}

.rent--now__button {
  width: 175px;
  height: 50px;
  border-radius: 42px;
  font-family: "neuronAngeledXB";
  font-size: 1.3rem;
  background-color: #b02519;
  border: transparent;
  color: white;
  margin-top: 40px;
  margin-left: 225px;
}

.rent--now__button:hover {
  background-color: #821b0f;
  cursor: pointer;
}

/* right side, suggestion reel */

.film--suggestion--reel__flexbox {
  display: flex;
  position: relative;
  /* border: solid red 3px; */
  margin-top: 25px;
  width: 628px;
  height: 700px;
  margin-right: 90px;
}

.film--suggestion--reel__img {
  background-image: url("../../img/country_film.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 550px;
  height: 375px;
  display: inline-flex;
  border-radius: 42px;
  position: relative;
  top: 15px;
  left: 6%;
  margin: 0px;
  padding: 0px;
}

.play--icon__overlay__flexbox {
  display: flex;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  height: 85px;
  width: 115px;
  top: 150px;
  left: 255px;
}

@media (max-width 1281px) {
  /*Desktop*/
}

@media (max-width 1024px) {
  /*Big tablets*/

  /* html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    position: fixed;
  } */

  header {
    display: grid;
    grid-template-areas: "grid__index1 grid__index1";
    height: 125px;
    width: 1024px;
  }

  .logo {
    background-image: url("../../img/logo.png");
    margin-top: 5px;
    margin-left: 80px;
    width: 420px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    grid-area: grid__index1;
  }

  .dropdown--menu__flexbox {
    display: flex;
    margin-left: 1200px;
    margin-top: -90px;
    width: 150px;
    height: 100px;
    flex-direction: row;
    position: absolute;
    /* border: solid 3px black; */
  }

  .dropbutton {
    background-color: #666665;
    color: white;
    padding: 10px;
    border-radius: 40px;
    border: none;
    width: 150px;
    height: 40px;
    position: relative;
    z-index: 50;
  }

  .dropbutton span {
    font-size: 1.8rem;
    font-family: neuronAngeledXL;
    justify-content: space-around;
    position: absolute;
    letter-spacing: 2px;
    left: -90px;
    bottom: 0px;
  }

  .dropbutton .fas {
    color: #dd9335;
    font-size: 1.5rem;
    position: absolute;
    left: 110px;
    top: 7px;
  }

  .dropdown__menu {
    position: relative;
    display: inline-block;
  }

  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #666665;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 42px 42px;
    height: 280px;
    margin-left: 75px;
    margin-top: -20px;
    z-index: 45;
  }

  .dropdown__content a {
    margin-top: 15px;
    color: #dd9335;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    margin-left: 8.5px;
  }

  .dropdown__menu:hover .dropdown__content {
    display: block;
  }

  main {
    display: grid;
    grid-template-areas:
      "grid__index2 grid__index3 grid__index3 grid__index3"
      "grid__index2 grid__index3 grid__index3 grid__index3";
    justify-content: center;
    position: relative;
    background-color: #dd9335;
    width: 100%;
    height: 3000px;
  }

  footer {
    display: grid;
    grid-template-areas: "grid__index4 grid__index4 grid__index4 grid__index4";
    width: 100%;
    height: 50px;
  }

  .grid__index4 {
    width: 100%;
    height: 50px;
  }
}

@media (max-width 764px) {
  /*Small tablets*/
}

@media (max-width 480px) {
  /*Mobile*/
}
