.library__main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}


.filmImg {
  width: 100%;
  margin-left: -7px;
  
}

/* .loading {
  width: 100px;
  height: 150px;
  justify-content: center;
  position: absolute;
  margin-top: 50px;
} */

.card {
  position: relative;
  width: 14%;
  height: 650px;
  padding: 20px;
  margin: 18px;
  background-color: white;
}

.card a {
  margin-left: 85px;
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: underline;
  color: grey;
}

